In [1]:
import os
import pandas as pd

In [2]:
files = os.listdir('data')
files

['ratings_1.txt',
 'ratings_10.txt',
 'ratings_2.txt',
 'ratings_3.txt',
 'ratings_4.txt',
 'ratings_5.txt',
 'ratings_6.txt',
 'ratings_7.txt',
 'ratings_8.txt',
 'ratings_9.txt']

In [3]:
import re
s=re.compile('\B\.txt+').match('ratings.txt')
s

In [4]:
files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']
data = [file for file in files if 'txt' in file]

In [5]:
data

['ratings.txt', 'stock_stats.txt', 'movies.txt']

In [6]:
ratings=pd.read_csv('ratings.csv')
movies=pd.read_csv('movies.csv')

In [7]:
total_dataframe = pd.concat([ratings, movies])

In [8]:
total_dataframe

,userId,movieId,rating,timestamp,title,genres
0,1.0,1,4.0,964982703.0,NaN,NaN
1,1.0,3,4.0,964981247.0,NaN,NaN
2,1.0,6,4.0,964982224.0,NaN,NaN
3,1.0,47,5.0,964983815.0,NaN,NaN
4,1.0,50,5.0,964982931.0,NaN,NaN
...,...,...,...,...,...,...
9737,NaN,193581,NaN,NaN,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,NaN,193583,NaN,NaN,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,NaN,193585,NaN,NaN,Flint (2017),Drama
9740,NaN,193587,NaN,NaN,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,NaN,193609,NaN,NaN,Andrew Dice Clay: Dice Rules (1991),Comedy

In [9]:
ratings[ratings['rating']==0.5].count()

userId       1370
movieId      1370
rating       1370
timestamp    1370
dtype: int64

In [10]:
ratings.merge(movies,how='outer')

,userId,movieId,rating,timestamp,title,genres
0,1.0,1,4.0,9.649827e+08,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5.0,1,4.0,8.474350e+08,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7.0,1,4.5,1.106636e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15.0,1,2.5,1.510578e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17.0,1,4.5,1.305696e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
100849,NaN,30892,NaN,NaN,In the Realms of the Unreal (2004),Animation|Documentary
100850,NaN,32160,NaN,NaN,Twentieth Century (1934),Comedy
100851,NaN,32371,NaN,NaN,Call Northside 777 (1948),Crime|Drama|Film-Noir
100852,NaN,34482,NaN,NaN,"Browning Version, The (1951)",Drama
100853,NaN,85565,NaN,NaN,Chalet Girl (2011),Comedy|Romance

In [11]:
movies[movies.movieId==3456]

      movieId                                         title genres
2587     3456  Color of Paradise, The (Rang-e khoda) (1999)  Drama

In [12]:
ratings[ratings.movieId==3456]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [13]:
data = pd.DataFrame(columns = ['userId', 'movieId', 'rating', 'timestamp'])

In [14]:
temp = pd.read_csv( os.path.join('data', filename), names = ['userId', 'movieId', 'rating', 'timestamp'] )

NameError: name 'filename' is not defined

In [17]:
data = pd.concat([data, temp])

NameError: name 'temp' is not defined