In [1]:
import numpy as np
import pandas as pd

In [2]:
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id','time','bet','win']
log

                              user_id                  time      bet      win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN      NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN      NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN      NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN      NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN      NaN
..                                ...                   ...      ...      ...
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0      NaN
996                            #error                   NaN  10054.0  29265.0
997                            #error                   NaN  10454.0      NaN
998                            #error                   NaN   1000.0      NaN
999                            #error                   NaN  10754.0      NaN

[1000 rows x 4 columns]

In [39]:
len(log.time[log.time.isna()== True])

15

In [4]:
len(log.dropna(axis=0))

133

In [5]:
log.dropna(axis=1).shape[1]

1

In [6]:
log.dropna(subset=['user_id','time'],axis=0)

                              user_id                  time      bet     win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN     NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN     NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN     NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN     NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN     NaN
..                                ...                   ...      ...     ...
991  Запись пользователя № - user_965  [2019-04-20 12:55:41    800.0  6927.0
992  Запись пользователя № - user_967  [2019-04-20 14:59:36  10154.0     NaN
993  Запись пользователя № - user_973  [2019-04-20 17:09:56  10254.0     NaN
994  Запись пользователя № - user_977  [2019-04-20 18:10:07  10354.0     NaN
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0     NaN

[985 rows x 4 columns]

In [7]:
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id','time','bet','win']
log.drop_duplicates(['user_id','time'])

                              user_id                  time      bet     win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN     NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN     NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN     NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN     NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN     NaN
..                                ...                   ...      ...     ...
991  Запись пользователя № - user_965  [2019-04-20 12:55:41    800.0  6927.0
992  Запись пользователя № - user_967  [2019-04-20 14:59:36  10154.0     NaN
993  Запись пользователя № - user_973  [2019-04-20 17:09:56  10254.0     NaN
994  Запись пользователя № - user_977  [2019-04-20 18:10:07  10354.0     NaN
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0     NaN

[986 rows x 4 columns]

In [8]:
from datetime import datetime,timedelta
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id','time','bet','win']
log=log.drop_duplicates(['user_id','time'])
log=log.dropna()
log.time=log.time.apply(lambda x: str(x)[1:])
log
log.time=log.time.apply(lambda x: datetime.strptime(x,'%Y-%m-%d %H:%M:%S'))

log['year_column']=log.time.apply(lambda x: x.year)
log['month']=log.time.apply(lambda x:x.month)
log.time.dt.minute.value_counts()
#max(log.time)
#log.time.dt.month.value_counts(ascending=True)
log.month.value_counts(ascending=True) 
#log.time[(log.time.dt.dayofweek==5) or (log.time.dt.dayofweek==6)] 
log.time.dt.dayofweek[(log.time.dt.dayofweek==5) | (log.time.dt.dayofweek==6)]

294    5
360    5
367    6
376    6
568    6
574    6
622    5
624    5
629    5
633    6
641    6
683    5
685    6
686    6
687    6
694    6
750    6
752    6
753    6
755    6
800    5
801    5
808    6
812    6
814    6
866    5
869    6
870    6
918    5
919    5
921    5
927    6
928    6
971    5
972    5
976    5
991    5
Name: time, dtype: int64

In [9]:
from datetime import datetime,timedelta
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id','time','bet','win']
log=log.drop_duplicates(['user_id','time'])
log.time=log.time.apply(lambda x: None if x!=x else str(x)[1:] )
log.time=log.time.apply(lambda x: None if x==None else datetime.strptime(str(x),'%Y-%m-%d %H:%M:%S'))
log.time.dt.dayofweek[(log.time.dt.dayofweek==5) | (log.time.dt.dayofweek==6)]

39     5.0
40     5.0
41     5.0
42     5.0
43     5.0
      ...
991    5.0
992    5.0
993    5.0
994    5.0
995    5.0
Name: time, Length: 283, dtype: float64

In [4]:
def vremya_dnya(int_hour):
    if (int_hour>=0) & (int_hour<6):
        return 'night'
    elif  (int_hour>=6) & (int_hour<12):
        return 'morning'
    elif (int_hour>=12) & (int_hour<18):
        return 'afternoon'
    elif (int_hour>=18) & (int_hour<24):
        return 'evening'
    else:
        return "nevernoye vremya"

In [5]:
vremya_dnya(24)

'nevernoye vremya'

In [6]:
type(dt(2019-04-20 14:59:36))

SyntaxError: invalid token (<ipython-input-6-83979629a4f6>, line 1)

In [7]:
from datetime import datetime,timedelta
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id','time','bet','win']
log=log.drop_duplicates(['user_id','time'])
log=log.dropna(subset= ['time'])
log.time=log.time.apply(lambda x: None if x!=x else str(x)[1:] )
log.time=log.time.apply(lambda x: None if x==None else datetime.strptime(str(x),'%Y-%m-%d %H:%M:%S'))
#log['vremya_dnya']=log.time.apply(lambda x:vremya_dnya(x))
wkday=log.time.dt.hour.apply(vremya_dnya)
wkday.value_counts(ascending=True)

evening      227
afternoon    240
morning      253
night        265
Name: time, dtype: int64

Одним из часто используемых методов в pandas является value_counts().

Этот метод возвращает Series, который содержит количества уникальных элементов.

In [8]:
test = pd.Series([1, 1, 1, 2, 3, 4, 4])  
test.value_counts()

1    3
4    2
3    1
2    1
dtype: int64

Это значит, что число 1 встретилось 3 раза, число 4 встретилось 2 раза, а числа 2 и 3 встретились по одному разу.

value_counts() возвращает значения отсортированными по убыванию.

Если в value_counts() передать значение параметра ascending=True, метод вернет значения, отсортированные по возрастанию.



Давайте повторим то, что мы прошли в этой секции. Напишите код, который создаст признак hour из признака time в датасете log.csv. Для этого:

1. загрузите датасет log.csv в переменную log, дальше работать будем с ней;

2. установите имена столбцов: ['user_id', 'time', 'bet', 'win'];

3. избавьтесь от пропусков в log;

4. приведите переменную time к подходящему для извлечения признаков виду;

5. получите значение часа для каждой строки в переменной time и запишите в столбец hour в log.

Результатом будет таблица log со столбцом hour внутри.

In [9]:
from datetime import datetime,timedelta
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id','time','bet','win']
log=log.dropna()
log.time=log.time.apply(lambda x : datetime.strptime(str(x)[1:],'%Y-%m-%d %H:%M:%S'))
log['hour']=log.time.dt.hour
log

,user_id,time,bet,win,hour
14,Запись пользователя № - user_917,2019-01-02 08:57:36,145732.0,1987653.0,8
29,Запись пользователя № - user_942,2019-01-04 13:59:42,1678321.0,9876543.0,13
151,Запись пользователя № - user_982,2019-01-16 21:54:22,100.0,4749.0,21
189,Запись пользователя № - user_964,2019-01-21 18:34:44,200.0,4667.0,18
205,Запись пользователя № - user_931,2019-01-22 05:26:59,300.0,4319.0,5
...,...,...,...,...,...
967,Запись пользователя № - user_975,2019-04-19 22:25:15,1000.0,6108.0,22
971,Запись пользователя № - user_912,2019-04-20 10:35:49,10554.0,31799.0,10
972,Запись пользователя № - user_926,2019-04-20 10:35:50,10354.0,30244.0,10
976,Запись пользователя № - user_970,2019-04-20 10:35:54,10354.0,30691.0,10
991,Запись пользователя № - user_965,2019-04-20 12:55:41,800.0,6927.0,12

In [10]:
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id','time','bet','win']
log.bet.mean()
log.bet.mean(skipna=False)
log.bet.sum() / log.bet.dropna().shape[0] 
np.mean(log.bet)
log['bet'].dropna().mean()

6785.738144329897

In [11]:
import numpy as np
import pandas as pd
def fillna_win(row):
    if pd.isna(row['win'])==True:
        return 0
    else:
        return row['win']

log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id','time','bet','win']
log['bet'] =log['bet'].fillna(0) 

 # Применяем функцию  
new_win = log.apply(lambda row: fillna_win(row), axis=1)  
  
# Заменяем старый столбец с пропусками на новый без пропусков  
log['win'] = new_win

round(log[log.bet>0]['bet'].mean(),0)#средний уровень ставки

6786.0

In [96]:
def net(row):
    return row['win']-row['bet']
log['net']=log.apply(lambda row: net(row),axis=1)
log['net']
res = log['net'][log['net']>0].median()
round(res,0)

len(log)#кол-во строк в таблице то бишь кол-во посещений ставки
len (log[log['bet']>0])/len(log)*100 #доля сделок из посещений в процентах
log[log.net<0]['net'].mean()#  среднюю сумму потерь при проигрыше (из столбца net)

-3372.743515850144

In [97]:
len (log[log.net>0])/len(log)*100

13.8

In [98]:
len (log[log.net<0])/len(log)*100

34.699999999999996

 Давайте повторим то, что мы прошли в этой секции. Напишите код, который узнает, чему была равна минимальная ставка и сколько людей сделали такую ставку. Для этого:

1. загрузите датасет log.csv;

2. посчитайте, чему равна минимальная ставка;

3. посчитайте, сколько раз была сделана минимальная ставка, и запишите результат в переменную min_bet_amount в виде целого числа.

In [12]:
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id','time','bet','win']
log['bet'] =log['bet'].fillna(0) 
min_bet_amount=log[log.bet==log.bet[log['bet']>0].min()].shape[0]
min_bet_amount

48

## B6.5.1 Повторение merge/groupby

Теперь мы снова будем использовать log.csv и users.csv вместе.

Повторим часть предобработки, которую мы должны были выполнить ранее:

In [46]:
users=pd.read_csv('users.csv',sep='\t',encoding='cp1251')
users.columns=['user_id','email','geo']
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id','time','bet','win']
users

     user_id                     email          geo
0   User_943       Accumanst@gmail.com       йЦЕЧУЛ
1   User_908         Advismowr@mail.ru       йЦЕЧУЛ
2   User_962           Anachso@ukr.net    лТБУОПДБТ
3   User_973          Antecia@inbox.ru        рЕТНШ
4   User_902        Balliaryva@ukr.net          NaN
..       ...                       ...          ...
95  User_959  UpdatesCurious@yahoo.com       фАНЕОШ
96  User_901        V2artierso@mail.ru  бТЪБОЗЕМФУЛ
97  User_970          Vashoterlo@bk.ru      чПТПОЕЦ
98  User_965       Visuareda@yahoo.com      чПТПОЕЦ
99  User_921              Aavast@ya.ru       йЦЕЧУЛ

[100 rows x 3 columns]

In [47]:
# Приведем признак user_id к одному формату в обоих датасетах  
users.user_id = users.user_id.apply(lambda x: x.lower())

In [48]:
# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
def new_function(user_id):
    if user_id == '#error'or user_id == 'NaN' :
        return ""
    else:
        return user_id.split('-')[1][1:]
log.user_id=log.user_id.apply(new_function)
log

      user_id                  time      bet     win
0    user_919  [2019-01-01 14:06:51      NaN     NaN
1    user_973  [2019-01-01 14:51:16      NaN     NaN
2    user_903  [2019-01-01 16:31:16      NaN     NaN
3    user_954  [2019-01-01 17:17:51      NaN     NaN
4    user_954  [2019-01-01 21:31:18      NaN     NaN
..        ...                   ...      ...     ...
991  user_965  [2019-04-20 12:55:41    800.0  6927.0
992  user_967  [2019-04-20 14:59:36  10154.0     NaN
993  user_973  [2019-04-20 17:09:56  10254.0     NaN
994  user_977  [2019-04-20 18:10:07  10354.0     NaN
995  user_984   [2019-04-20 9:59:58   9754.0     NaN

[985 rows x 4 columns]

Это будет нужно для того, чтобы объединить оба датасета и работать с едиными данными для проведения продвинутого анализа.

### Merge

Теперь объединим данные с помощью метода pd.merge():

pd.merge(dataframe1, dataframe2, on='feature_name')

Первые два аргумента - таблицы, которые нужно будет объединить.

Третий аргумент - название признака, по которому будем объединять данные. Мы уже привели данные к одинаковому виду, и теперь их можно объединить по признаку 'user_id', чтобы получить полную информацию о пользователе.

In [57]:
total=pd.merge(log,users,on='user_id')
total

,user_id,time,bet,win,email,geo
0,user_919,[2019-01-01 14:06:51,NaN,NaN,Chikkaverle@icloud.com,иБВБТПЧУЛ
1,user_919,[2019-01-30 10:06:00,NaN,NaN,Chikkaverle@icloud.com,иБВБТПЧУЛ
2,user_919,[2019-02-05 14:33:44,NaN,NaN,Chikkaverle@icloud.com,иБВБТПЧУЛ
3,user_919,[2019-02-14 11:38:05,NaN,NaN,Chikkaverle@icloud.com,иБВБТПЧУЛ
4,user_919,[2019-03-02 4:23:36,300.0,NaN,Chikkaverle@icloud.com,иБВБТПЧУЛ
...,...,...,...,...,...,...
970,user_932,[2019-02-24 22:40:06,NaN,NaN,BraceWalker@bk.ru,лТБУОПСТУЛ
971,user_932,[2019-03-15 10:56:14,NaN,NaN,BraceWalker@bk.ru,лТБУОПСТУЛ
972,user_932,[2019-03-18 10:13:24,NaN,NaN,BraceWalker@bk.ru,лТБУОПСТУЛ
973,user_932,[2019-03-27 12:18:24,NaN,NaN,BraceWalker@bk.ru,лТБУОПСТУЛ
974,user_932,[2019-04-18 14:55:26,700.0,6640.0,BraceWalker@bk.ru,лТБУОПСТУЛ

### Groupby

Теперь повторим groupby.

Данный метод позволяет сгруппировать данные и применить к ним методы агрегации:

In [58]:
total.groupby('user_id').win.median().median()

5951.75

В данном случае мы группируем данные по признаку user_id.

После этого мы в каждой группе выбираем признак win.

Затем мы берем медиану каждой группы по признаку win и на выходе получаем таблицу, в которой индексом является признак user_id. В этой таблице единственный столбец - медиана по каждой группе (то есть по каждому пользователю).

Наконец, последний вызов median() дает нам медиану по предыдущему столбцу, то есть возвращает одно число.

суммарно все наши предыдущие действия

In [63]:
#тотальный код
users=pd.read_csv('users.csv',sep='\t',encoding='cp1251')
users.columns=['user_id','email','geo']
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id','time','bet','win']

# Приведем признак user_id к одному формату в обоих датасетах  
users.user_id = users.user_id.apply(lambda x: x.lower())  
# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
def new_function(user_id):
    if user_id == '#error'or user_id == 'NaN' :
        return ""
    else:
        return user_id.split('-')[1][1:]
log.user_id=log.user_id.apply(new_function)
#приведем время в формат datetime
log=log.dropna(subset= ['time'])
log.time=log.time.apply(lambda x: None if x!=x else str(x)[1:] )
log.time=log.time.apply(lambda x: None if x==None else datetime.strptime(str(x),'%Y-%m-%d %H:%M:%S'))
#заполним отсутствие ставки 0
log['bet']=log['bet'].fillna(0) 
#заполним столбец выигрыш
def fillna_win(row):
    if pd.isna(row['win'])==True:
        return 0
    else:
        return row['win']
# Применяем функцию  
log['win']  = log.apply(lambda row: fillna_win(row), axis=1)   
log
#создадим признак net=win-bet
def net(row):
    return row['win']-row['bet']
log['net']=log.apply(lambda row: net(row),axis=1)
total=pd.merge(log,users,on='user_id')
total

,user_id,time,bet,win,net,email,geo
0,user_919,2019-01-01 14:06:51,0.0,0.0,0.0,Chikkaverle@icloud.com,иБВБТПЧУЛ
1,user_919,2019-01-30 10:06:00,0.0,0.0,0.0,Chikkaverle@icloud.com,иБВБТПЧУЛ
2,user_919,2019-02-05 14:33:44,0.0,0.0,0.0,Chikkaverle@icloud.com,иБВБТПЧУЛ
3,user_919,2019-02-14 11:38:05,0.0,0.0,0.0,Chikkaverle@icloud.com,иБВБТПЧУЛ
4,user_919,2019-03-02 04:23:36,300.0,0.0,-300.0,Chikkaverle@icloud.com,иБВБТПЧУЛ
...,...,...,...,...,...,...,...
970,user_932,2019-02-24 22:40:06,0.0,0.0,0.0,BraceWalker@bk.ru,лТБУОПСТУЛ
971,user_932,2019-03-15 10:56:14,0.0,0.0,0.0,BraceWalker@bk.ru,лТБУОПСТУЛ
972,user_932,2019-03-18 10:13:24,0.0,0.0,0.0,BraceWalker@bk.ru,лТБУОПСТУЛ
973,user_932,2019-03-27 12:18:24,0.0,0.0,0.0,BraceWalker@bk.ru,лТБУОПСТУЛ
974,user_932,2019-04-18 14:55:26,700.0,6640.0,5940.0,BraceWalker@bk.ru,лТБУОПСТУЛ

In [64]:
total.groupby('user_id').net.sum().median()

1986.0